<% layout("/layouts/boilerplate") %>
<body>
      <div class="row mt-3">
            <div class="col-8 offset-3">
                  <h3><%=listings.title%></h3>
            </div>
                  <div class="card col-6 offset-3 show-card listing-card">
                        <img src="<%=listings.image.url%>" class="card-img-top show-img" alt="listing-image">
                        <div class="card-body">
                          <p class="card-text">
                             <!-- <b><%=listings.title%></b>
                             <br><%=listings.title%> -->
                             <b>Owned by <%=listings.owner.username%></b > </p> 
                             <p class="card-text"><%=listings.description%></p> 
                              <p class="card-text">&#8377;<%=listings.price.toLocaleString("en-IN")%></p> 
            <!--toLocaleString("en-IN") used to put commas as done in india in any number-->
                        <p class="card-text"><%=listings.location%></p> 
                        <p class="card-text"><%=listings.country%></p> 
                        </div>
                      </div>
                        
                      <!-- do not show the buttons untils there is not a user and current user is not same as the
                       one who created it -->
                      <% if(curruser && listings.owner._id.equals(curruser._id)) { %>
                        <div class="btns">
                              <a href="/listings/<%=listings._id%>/edit" class="btn btn-dark add-btn col-1 offset-3">Edit</a>
      
                              <form action="/listings/<%=listings._id%>?_method=DELETE" method="post">
                              <button class="btn btn-dark offset-5">Delete</button>
                              </form>
                        </div>
                      <% } %>  
                        
                        <!-- form for reviews -->
                        <div class="col-8 offset-3 mb-3">
                              <!-- if there is no user logged in then do not show form for writing review -->
                              <% if(curruser) { %>
                              <hr>
                              <h4>Leave a review</h4>
                              <form action="/listings/<%=listings.id%>/reviews" method="post" novalidate class="needs-validation">
                                    <!-- rating code is here -->
                                    <div class="mb-3 mt-3">
                                          <!-- <label for="rating" class="form-label">Rating</label> -->
                                          <!-- <input type="range" min="1" max="5" name="review[rating]" class="form-range"> -->
                                          <label for="rating" class="form-label">Rating</label>
                                          <fieldset class="starability-slot">
                                                <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                                                <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                                                <label for="first-rate1" title="Terrible">1 star</label>
                                                <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                                                <label for="first-rate2" title="Not good">2 stars</label>
                                                <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                                                <label for="first-rate3" title="Average">3 stars</label>
                                                <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                                                <label for="first-rate4" title="Very good">4 stars</label>
                                                <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                                                <label for="first-rate5" title="Amazing">5 stars</label>
                                          </fieldset>
                                    </div>
                                    <div class="mb-3">
                                         <label for="comment" class="form-label">Comments</label> 
                                         <textarea name="review[comment]" id="comment" cols="50" rows="3" class="form-control" required></textarea>
                                         <div class="invalid-feedback">Enter comment</div>
                                    </div> 
                                    <div class="mb-3">
                                          <button class="btn btn-outline-dark ">Submit</button>
                                    </div>
                                    
                              </form>
                              <%}%>

                              <hr>
                              <p><b>All reviews</b></p>
                              <div class="row">
                                    <%for(review of listings.reviews){%>
                                          <div class="card col-5 ms-3 mb-3">
                                                <div class="card-body">
                                                      <h5 class="card-title">@<%=review.author.username %></h5>
                                                      <!-- pasted to show stars -->
                                                      <p class="starability-result card-text" data-rating="<%=review.rating%>"></p>
                                                      <p class="card-text"><%=review.comment%></p>
                                                </div>
                                                <form action="/listings/<%=listings._id%>/reviews/<%=review._id%>?_method=DELETE" method="post">
                                                      <button class="btn btn-sm btn-dark">Delete</button>
                                                </form>
                                          </div>
                                    <%}%>
                              </div> 
                        </div>
            
                  <!-- <ul>
                        <li><%=listings.title%></li>
                        <li><%=listings.description%></li>
                        <li>&#8377;<%=listings.price.toLocaleString("en-IN")%></li>
                        toLocaleString("en-IN") used to put commas as done in india in any number
                        <li><%=listings.location%></li>
                        <li><%=listings.country%></li>
                  </ul>
                  <br><br>
                   --> 
      </div>
      
</body> 